<div class="d-flex align-items-center justify-content-center mb-3">
  <%= form_with url: "/", method: :get, local: true do |f| %>
    <%= f.text_field :search, placeholder: "検索ワード(例:ステーキ)"%>
    <%= f.text_field :area, placeholder:"検索地域(例:銀座)"%>
    <%= f.submit "検索"%>
  <% end %>
</div>

<% if @response_data.include?("gnavi") %>
  <script>
    alert('ヒットする情報はありませんでした。')
  </script>
<% else%>
  <div class="row">
    <% @response_data["response"].each.with_index do |(k,v),i| %>
      <% if k == "#{i - 3}" %>
        <% review_data = v["photo"]%>
        <div class="card col-md-4 mb-3 p-0">
          <div class="card-header">
            <a href=<%= review_data["shop_url"]%>><%= review_data["shop_name"]%></a>
          </div>
          <div class="card-body">
            <p>エリア：<%= review_data["prefname"].slice(7...11) %>,<%= review_data["areaname_s"] %></p>
            <p>メニュー名：<%= review_data["menu_name"]%></p>
            <img src="<%= review_data["image_url"]["url_320"]%>" alt="画像" width="300" height="200">
            <p class="mt-3"><%= review_data["comment"]%></p>
            <%= review_data["update_date"]%>
          </div>
          <%= render "favorites/favorites_button", review: @review, review_data: review_data%>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>