<div class="d-flex align-items-center justify-content-center mb-3">
  <%= form_with url: "/", method: :get, local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit "検索"%>
  <% end %>
</div>

<% if @response_data.include?("gnavi") %>
  <%= @response_data["gnavi"]["error"][0]["message"]%>
<% else%>
  <div class="row">
    <% @response_data["response"].each.with_index do |(k,v),i| %>
      <% if k == "#{i - 3}" %>
        <% review_data = v["photo"]%>
          <div class="card col-md-4 mb-3 p-0">
            <div class="card-header">
              <a href=<%= review_data["shop_url"]%>><%= review_data["shop_name"]%></a>
            </div>
            <div class="card-body">
              <p>メニュー名：<%= review_data["menu_name"]%></p>
              <img src="<%= review_data["image_url"]["url_320"]%>" alt="画像" width="300" height="200">
              <p class="mt-3"><%= review_data["comment"]%></p>
              <%= review_data["update_date"]%>
            </div>
          <%= render "favorites/favorites_button", review: @review, review_data: review_data%>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>